## Library Imports

In [1]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import pandas as pd
sns.set_style('darkgrid')
plt.style.use('seaborn-v0_8-pastel')

import warnings
warnings.simplefilter('ignore')

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from xgboost import XGBRegressor

In [2]:
data = pd.read_csv("UrbanEdgeApparel.csv")
data.head()

   Order ID Order Status  ... Shipping Postal Code Shipping Country
0       104    Completed  ...           20011-2343    United States
1       104    Completed  ...           20011-2343    United States
2       107    Completed  ...                80124    United States
3       107    Completed  ...                80124    United States
4       107    Completed  ...                80124    United States

[5 rows x 21 columns]